@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
      --tw-color-primary-50: 247 254 231;
      --tw-color-primary-100: 236 252 203;
      --tw-color-primary-200: 217 249 157;
      --tw-color-primary-300: 190 242 100;
      --tw-color-primary-400: 163 230 53;
      --tw-color-primary-500: 132 204 22;
      --tw-color-primary-600: 101 163 13;
      --tw-color-primary-700: 77 124 15;
      --tw-color-primary-800: 63 98 18;
      --tw-color-primary-900: 54 83 20;
      --tw-color-primary-950: 26 46 5;
      --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f7fee7 */
      --color-primary-100: rgb(var(--tw-color-primary-100)); /* #ecfccb */
      --color-primary-200: rgb(var(--tw-color-primary-200)); /* #d9f99d */
      --color-primary-300: rgb(var(--tw-color-primary-300)); /* #bef264 */
      --color-primary-400: rgb(var(--tw-color-primary-400)); /* #a3e635 */
      --color-primary-500: rgb(var(--tw-color-primary-500)); /* #84cc16 */
      --color-primary-600: rgb(var(--tw-color-primary-600)); /* #65a30d */
      --color-primary-700: rgb(var(--tw-color-primary-700)); /* #4d7c0f */
      --color-primary-800: rgb(var(--tw-color-primary-800)); /* #3f6212 */
      --color-primary-900: rgb(var(--tw-color-primary-900)); /* #365314 */
      --color-primary-950: rgb(var(--tw-color-primary-950)); /* #1a2e05 */
      --fg: #333333;
      --bg: #ffffff;
      --text-color-secondary: #33333399;
    }
    .dark {
      --background: 224 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
    .theme-lime {
      --tw-color-primary-50: 247 254 231;
      --tw-color-primary-100: 236 252 203;
      --tw-color-primary-200: 217 249 157;
      --tw-color-primary-300: 190 242 100;
      --tw-color-primary-400: 163 230 53;
      --tw-color-primary-500: 132 204 22;
      --tw-color-primary-600: 101 163 13;
      --tw-color-primary-700: 77 124 15;
      --tw-color-primary-800: 63 98 18;
      --tw-color-primary-900: 54 83 20;
      --tw-color-primary-950: 26 46 5;
      --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f7fee7 */
      --color-primary-100: rgb(var(--tw-color-primary-100)); /* #ecfccb */
      --color-primary-200: rgb(var(--tw-color-primary-200)); /* #d9f99d */
      --color-primary-300: rgb(var(--tw-color-primary-300)); /* #bef264 */
      --color-primary-400: rgb(var(--tw-color-primary-400)); /* #a3e635 */
      --color-primary-500: rgb(var(--tw-color-primary-500)); /* #84cc16 */
      --color-primary-600: rgb(var(--tw-color-primary-600)); /* #65a30d */
      --color-primary-700: rgb(var(--tw-color-primary-700)); /* #4d7c0f */
      --color-primary-800: rgb(var(--tw-color-primary-800)); /* #3f6212 */
      --color-primary-900: rgb(var(--tw-color-primary-900)); /* #365314 */
      --color-primary-950: rgb(var(--tw-color-primary-950)); /* #1a2e05 */
    }
    .theme-red {
      --tw-color-primary-50: 254 242 242;
      --tw-color-primary-100: 254 226 226;
      --tw-color-primary-200: 254 202 202;
      --tw-color-primary-300: 252 165 165;
      --tw-color-primary-400: 248 113 113;
      --tw-color-primary-500: 239 68 68;
      --tw-color-primary-600: 220 38 38;
      --tw-color-primary-700: 185 28 28;
      --tw-color-primary-800: 153 27 27;
      --tw-color-primary-900: 127 29 29;
      --tw-color-primary-950: 69 10 10;
      --color-primary-50: rgb(var(--tw-color-primary-50)); /* #fef2f2 */
      --color-primary-100: rgb(var(--tw-color-primary-100)); /* #fee2e2 */
      --color-primary-200: rgb(var(--tw-color-primary-200)); /* #fecaca */
      --color-primary-300: rgb(var(--tw-color-primary-300)); /* #fca5a5 */
      --color-primary-400: rgb(var(--tw-color-primary-400)); /* #f87171 */
      --color-primary-500: rgb(var(--tw-color-primary-500)); /* #ef4444 */
      --color-primary-600: rgb(var(--tw-color-primary-600)); /* #dc2626 */
      --color-primary-700: rgb(var(--tw-color-primary-700)); /* #b91c1c */
      --color-primary-800: rgb(var(--tw-color-primary-800)); /* #991b1b */
      --color-primary-900: rgb(var(--tw-color-primary-900)); /* #7f1d1d */
      --color-primary-950: rgb(var(--tw-color-primary-950)); /* #450a0a */
    }
    .theme-cyan {
      --tw-color-primary-50: 236 254 255;
      --tw-color-primary-100: 207 250 254;
      --tw-color-primary-200: 165 243 252;
      --tw-color-primary-300: 103 232 249;
      --tw-color-primary-400: 34 211 238;
      --tw-color-primary-500: 6 182 212;
      --tw-color-primary-600: 8 145 178;
      --tw-color-primary-700: 14 116 144;
      --tw-color-primary-800: 21 94 117;
      --tw-color-primary-900: 22 78 99;
      --tw-color-primary-950: 8 51 68;
      --color-primary-50: rgb(var(--tw-color-primary-50)); /* #ecfeff */
      --color-primary-100: rgb(var(--tw-color-primary-100)); /* #cffafe */
      --color-primary-200: rgb(var(--tw-color-primary-200)); /* #a5f3fc */
      --color-primary-300: rgb(var(--tw-color-primary-300)); /* #67e8f9 */
      --color-primary-400: rgb(var(--tw-color-primary-400)); /* #22d3ee */
      --color-primary-500: rgb(var(--tw-color-primary-500)); /* #06b6d4 */
      --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0891b2 */
      --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0e7490 */
      --color-primary-800: rgb(var(--tw-color-primary-800)); /* #155e75 */
      --color-primary-900: rgb(var(--tw-color-primary-900)); /* #164e63 */
      --color-primary-950: rgb(var(--tw-color-primary-950)); /* #083344 */
  }
  .theme-orange {
    --tw-color-primary-50: 255 247 237;
    --tw-color-primary-100: 255 237 213;
    --tw-color-primary-200: 254 215 170;
    --tw-color-primary-300: 253 186 116;
    --tw-color-primary-400: 251 146 60;
    --tw-color-primary-500: 249 115 22;
    --tw-color-primary-600: 234 88 12;
    --tw-color-primary-700: 194 65 12;
    --tw-color-primary-800: 154 52 18;
    --tw-color-primary-900: 124 45 18;
    --tw-color-primary-950: 67 20 7;
    --color-primary-50: rgb(var(--tw-color-primary-50)); /* #fff7ed */
    --color-primary-100: rgb(var(--tw-color-primary-100)); /* #ffedd5 */
    --color-primary-200: rgb(var(--tw-color-primary-200)); /* #fed7aa */
    --color-primary-300: rgb(var(--tw-color-primary-300)); /* #fdba74 */
    --color-primary-400: rgb(var(--tw-color-primary-400)); /* #fb923c */
    --color-primary-500: rgb(var(--tw-color-primary-500)); /* #f97316 */
    --color-primary-600: rgb(var(--tw-color-primary-600)); /* #ea580c */
    --color-primary-700: rgb(var(--tw-color-primary-700)); /* #c2410c */
    --color-primary-800: rgb(var(--tw-color-primary-800)); /* #9a3412 */
    --color-primary-900: rgb(var(--tw-color-primary-900)); /* #7c2d12 */
    --color-primary-950: rgb(var(--tw-color-primary-950)); /* #431407 */
  }
  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }
  .box-animate{
    border-radius: 10px;
    animation: glow 3s infinite alternate;
  }
  @keyframes glow {
    0% {
      box-shadow: 0 0 5px #379011;
    }
    100% {
      box-shadow: 0 0 20px 10px #188c08;
    }
  }
}